# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/libraries/
src/client/node_modules
.classpath
.project
.settings/
npm-debug.log
src/client/build/
src/client/src/**/*.js
src/client/src/**/*.js.map
src/main/resources/static/css/
src/main/resources/static/js/
target/classes/static/css/
target/classes/static/js/
target/generated-sources/
target/test-classes/