# Created by .ignore support plugin (hsz.mobi)
.idea/libraries/
src/client/node_modules
.classpath
.project
.settings/
npm-debug.log
src/client/build/
src/client/src/*.js
src/client/src/*.js.map
src/main/resources/static/css/
src/main/resources/static/js/
target/*
